/* src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    overflow-x: hidden;
    background-color: rgb(245, 64, 164);
    backdrop-filter: blur(10px);
}

@media only screen and (max-width: 600px) {
    body {
        background-color: rgb(245, 64, 164);
        backdrop-filter: blur(8px);
        overflow-x: hidden;
    }
}

@media only screen and (min-width: 601px) and (max-width: 768px) {
    body {
        background-color: rgb(245, 64, 164);
        backdrop-filter: blur(9px);
        overflow-x: hidden;
    }
}

@media only screen and (min-width: 769px) {
    body {
        background-color: rgb(245, 64, 164);
        backdrop-filter: blur(10px);
        overflow-x: hidden;
    }
}
body::before{
    position: absolute;
    width: min(1400px, 90vw);
    top: 10%;
    left: 50%;
    height: 90%;
    transform: translateX(-50%);
    content: '';
    background-image: url("https://ik.imagekit.io/rxdxtxpigt/Revamp%20Internship%20Contest/Sample%20Product%20Display/bg.png?updatedAt=1722173702967");
    background-size: 100%;
    background-position: top center;
    background-repeat: no-repeat;
    pointer-events: none;
}